@model IEnumerable<MovieApp.Models.Movie>
@{
  ViewData["Title"] = "Movies";
}
<div class="card">
  <div class="card-body">
    <div class="card-header d-flex flex-row justify-content-between">
      <h3>Movies</h3>
      <a asp-controller="Movie" asp-action="Create" class="btn btn-secondary">New movie</a>
    </div>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Duration</th>
          <th>Subtitle</th>
          <th>Release date</th>
          <th>Language</th>
          <th>Movie type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @foreach(Movie movie in Model){
          <tr>
            <td>
              <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id" class="card-link">
                @movie.Title
              </a>
            </td>
            <td><span>@movie.Duration</span>mn</td>
            <td>@movie.Subtitle</td>
            <td>@movie.ReleaseDate</td>
            <td>@movie.Language</td>
            <td>@movie.MovieType</td>
            <td class="d-flex flex-row justify-content-evenly">
              <a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.Id" class="card-link text-success">Edit</a>
              <span>|</span>
              <a 
                asp-controller="Movie" 
                asp-action="Delete" 
                asp-route-id="@movie.Id" 
                onclick="event.preventDefault();"
                data-bs-toggle="modal"
                data-bs-target="#delete-@movie.Id"
                class="card-link text-danger"
              >
                Delete
              </a>
              <div class="modal fade" id="delete-@movie.Id">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title text-dark">
                        Are you sure you want to delete this movie: <strong>@movie.Title</strong>?
                      </h5>
                      <button class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                      <p class="text-dark">This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                      <form asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.Id" method="post">
                        <button class="btn btn-danger">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>